@model IEnumerable<Wallet.DTO.Response.ContactResponseDTO>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Contacts</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto mt-12">
        <h2 class="text-3xl font-bold mb-8 text-center">All Contacts</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            @foreach (var contact in Model)
            {
                string name = $"{contact.FirstName} {contact.LastName}";
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 transform transition duration-500 hover:scale-105">
                    <div class="flex items-center mb-4">
                        <img src="@contact.ProfilePictureURL" alt="@contact.FirstName's Profile Picture" class="w-16 h-16 rounded-full object-cover mr-4">
                        <div>
                            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-100">@name</h3>
                           
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <form asp-action="RemoveContact" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="contactId" value="@contact.Id" />
                            <button type="submit" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-full focus:outline-none transition duration-150">
                                <i class="fas fa-minus"></i> Remove
                            </button>
                        </form>
                        <a href="@Url.Action("ContactHistory", "Transaction", new { contactId = contact.Id })" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-full focus:outline-none transition duration-150">
                            <i class="fas fa-history"></i> View History
                        </a>
                    </div>
                    <div class="flex space-x-4">
                        <!-- Transfer Button -->
                        <a href="@Url.Action("InitiateTransfer", "Transaction", new { contactId = contact.Id })"
                           class="bg-blue-500 text-white py-2 px-4 rounded-full">Transfer</a>
                        <!-- Request Button -->
                        <a href="@Url.Action("CreateRequest", "MoneyRequest", new{recipientId = contact.Id})"
                           class="bg-blue-500 text-white py-2 px-4 rounded-full">Request</a>
                    </div>
                </div>
            }
        </div>

        <div class="text-center mt-12">
            <a href="@Url.Action("AddContact", "Contacts")" class="bg-indigo-600 hover:bg-indigo-700 text-white px-8 py-4 rounded-full focus:outline-none transition duration-150">
                <i class="fas fa-plus"></i> Add Contact
            </a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>

</html>
